.advantages {
  padding-top: clamp(7rem, 5.569rem + 6.107vw, 8.5rem);
  padding-bottom: clamp(4rem, 2.5rem + 3.125vw, 4.5rem);
  overflow: hidden;
}

.advantages__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.advantages__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: clamp(19.438rem, 7.927rem + 49.109vw, 31.5rem);
  text-align: center;
}

.advantages__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.advantage__title {
  color: var(--slate-900);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .advantages__info {
    width: clamp(31.5rem, 24rem + 15.625vw, 34rem);
  }
}
