.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1rem, 0.422rem + 2.465vw, 2rem);
}

.gallery__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(9.25rem, 9.011rem + 1.018vw, 9.5rem);
  height: clamp(9rem, 8.046rem + 4.071vw, 10rem);
  border-radius: 8px;
  overflow: hidden;
}

.gallery__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery__image-wrapper {
    width: clamp(9.5rem, -10rem + 40.625vw, 16rem);
    height: clamp(10rem, -8rem + 37.5vw, 16rem);
  }
}
