.link-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem 2.5rem;
  margin: 0 auto;
  text-decoration: none;
  color: var(--white);
  background-color: var(--purple-600);
  border-radius: 29px;
  transition: background-color 0.2s;
}

.link-button:focus-visible {
  outline: 2px dashed var(--purple-600);
  outline-offset: 4px;
}

.link-button span {
  color: var(--purple-300);
}

.link-button--cyan {
  background-color: var(--cyan-600);
}

.link-button--cyan:focus-visible {
  outline-color: var(--cyan-600);
}

.link-button--cyan span {
  color: var(--cyan-300);
}

@media (hover: hover) {
  .link-button:hover {
    background-color: var(--purple-400);
  }

  .link-button--cyan:hover {
    background-color: var(--cyan-400);
  }
}
